/LinearRegression.csv
/LinearRegression.joblib
/LinearRegression_prod.csv
/LinearRegression_prod.joblib
/DecisionTree.joblib
/DecisionTree_prod.joblib
/RandomForest_prod.joblib
/ExtraTree_prod.joblib
/RandomForest.joblib
/ExtraTree.joblib
/CatBoost.joblib
/CatBoost_prod.joblib
/Neural_network_model.h5
/Neural_network_model_prod.h5
