/LinearRegression.csv
/LinearRegression.joblib
/LinearRegression_prod.csv
/LinearRegression_prod.joblib
/DecisionTree.joblib
/RandomForest.joblib
/ExtraTree.joblib
/DecisionTree_prod.joblib
/RandomForest_prod.joblib
/ExtraTree_prod.joblib
/CatBoost_Prod.joblib
/CatBoost.joblib
/CatBoost_Prod_prod.joblib
/nn_model.h5
/nn_model_prod.h5
